* {
  margin: 0;
}
body {
  margin: 100px;
  background: #62374e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px);
}

div {
  width: 100px;
  aspect-ratio: 1/1;
  background: #fdc57b;
}
section {
  display: flex;
  justify-content: space-between;
}
