#site-header {
    background: #e0e1dd;
    margin: 0;
    padding: 0px 5px;
}
h1 {
    color: #415a77;
    margin: 0px
}
body {
    margin: 0px;
}
a {
    color: #1b263b;
    text-decoration: none;
    font-size: large;
}
a:hover {
    color: #d62828;
}
.card {
    border: 1px solid #415a77;
    background: #edede9;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
}
#main-content {
    margin: 10px 10px;
}
h2 {
    margin: 0px;
    color: #415a77;
}
p {
    margin: 0px
}
input {
    width: 50%;
    margin: 5px;
}
button {
    padding: 2px;
    width: 40%;
    border: 1px solid #415a77;
    border-radius: 5px;
    background-color: #edede9;
    text-transform: uppercase;
}
button:hover {
    background-color: #415a77;
    color: #edede9;
    transition: 0.3s;
}