*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #191919;
    width: 400px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 20px;
}
.col {
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #F6E59C;
    border-radius: 50%;
}