* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.circle {
  position: absolute;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #000;
}
.top-left {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}
.top-right {
  top: 50%;
  right: 50%;
  transform: translate(100%, -100%);
}
.bottom-left {
  bottom: 50%;
  left: 50%;
  transform: translate(-100%, 100%);
}
.bottom-right {
  bottom: 50%;
  right: 50%;
  transform: translate(100%, 100%);
}
.pujur {
  position: absolute;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 100% 0 100% 0;
  border: 2px solid #000;
  background: red;
}
.top-left-pujur {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}
.top-right-pujur {
  top: 50%;
  right: 50%;
  transform: translate(100%, -100%);
  transform: rotate(90deg);
}
.bottom-left-pujur {
  bottom: 50%;
  left: 50%;
  transform: translate(-100%, 100%);
  transform: rotate(90deg);
}
.bottom-right-pujur {
  bottom: 50%;
  right: 50%;
  transform: translate(100%, 100%);
}
