* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  min-height: 100vh;

}

.rect {
  width: 300px;
  aspect-ratio: 2/1;
  position: absolute;
}
.square {
  position: absolute;
  width: 150px;
  aspect-ratio: 1/1;
  border: 4px solid yellow;
  left: 150px;
  top: 150px;
}
.green {
  border: 4px solid green;
}
.red {
  border: 4px solid red;
  transform: rotate(90deg);
  left: 225px;
  top: 75px;
}
.black {
  border: 4px solid black;
  transform: rotate(90deg);
  top: 29%;
  left: -75px;
}
.blue {
  border: 4px solid blue;
  top: 300px;
  left: 150px;
}
