* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 300px;
  background: #f8f8f8;
  border: 1px solid #000;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.r1 {
  display: flex;
  justify-content: space-between;

}
.r2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.r3 {
  display: flex;
  gap:10px

}
.rect {
  width: 40px;
  height: 50px;
  background: #787885;
}
.line {
  width: 100%;
  height: 10px;
  background: #787885;
}
.cascade {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shortLine {
  width: 75px;
  height: 10px;
  background: #787885;
}
.square {
  background: #787885;
  flex-grow: 1;
}
