 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.layout {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-boxes {
  display: flex;
  justify-content: space-between;
}

.top-boxes div {
  width: 80px;
  height: 80px;
  background: #7a7a85;
}

.line {
  height: 20px;
  background: #7a7a85;
}

.middle {
  display: flex;
  justify-content: space-between;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side div {
  width: 150px;
  height: 20px;
  background: #7a7a85;
}

.center-box {
  width: 350px;
  height: 300px;
  background: #7a7a85;
}