* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 400px;
  height: 300px;
  background: #c74e4e;
  padding: 102px;
  flex-direction: column;
  gap: 5px;
}
.circle {
  width: 20px;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 50%;
}
.square {
  width: 20px;
  aspect-ratio: 1/1;
  background: #e0e246;
  border-radius: 5px;
}
.row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}
.inner {
  display: flex;
  gap: 5px;
}
.row2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 5px;
}
.row3 {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 5px;
}
