* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 300px;
  background: #0b2429;
  position: relative;
}
.lime {
  width: 150px;
  height: 150px;
  border-radius: 70% 0 70% 0;
}
.lime1 {
  position: absolute;
  background: #1a4341;
  transform: translate(50%, 50%);
}
.lime2 {
  position: absolute;
  background: #998235;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lime3 {
  position: absolute;
  background: #f3ac3c;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
}
