*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pujur {
    aspect-ratio: 1/1;
    flex-grow: 1;
    border-radius: 50%;
}
.p1, .p3 {
    background: #67AED4;
}
.p2 {
    background: #FFFFFF;
}